body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color:hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;;
}
.container{
    background-color:  hsl(0, 0%, 100%);
    height: auto;
    width: 17%;
    padding: 13px;
    border-radius: 15px;

}
.image{
    max-height: 50vh;
    width: auto;
    object-fit: contain;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.text h2{
    font-size: 16px;
    color: hsl(218, 44%, 22%);
}
.text p{
    font-size: 12px;
    
    color: hsl(220, 15%, 55%);
   
}
.text{
   padding: 0 12px;
   text-align: center;
}
.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 30px;
         }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
  